.navbar {
  background-color: RGBA(0,0,0,0);
  /*background: url("./assets/header.png");*/
  /*opacity: 0.8;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-color: transparent;
  z-index: 2;
}

.navbar-brand>img {
  padding-left: 25%;
  height: 120%;
  /*width: max-content;*/
  /*height: max-content;*/
  /*padding: 7px 14px;*/
}

.navbar-nav>li>a {
  color: white !important;
}
