@font-face {
  font-family: "Raleway";
  src: url("./assets/Fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: bold;
  src: url("./assets/Fonts/Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  src: url("./assets/Fonts/Raleway-Italic.ttf") format("truetype");
}

.Home {
  text-align: center;
}

.thumbnail {
    height: 100%;
    border: 0 none;
    box-shadow: none;
    background-color: RGBA(0,0,0,0);
}

@media screen and (max-width: 770px) {
  .contactBtn {
    width: 100%;
  }
}

.subtitle {
    font-size: 16px;
    line-height: 30px;
    font-weight: 50;
    font-family: "Raleway-regular", sans-serif;
    margin: 0 auto;
    max-width: 600px;
    color: white;
}



/* --- NavBar Header --- */

.navbarIndex {
  background-color: RGBA(0,0,0,0);
  position: absolute;
  border-color: transparent;
}

.navbarElse {
  position: static;
  background: url("./assets/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-color: transparent;
}


/* Cambiar lo siguiente por react-bootstrap Image */

.navbar-brand>img {
  height: 120%;
  /*width: max-content;*/
  /*height: max-content;*/
  /*padding: 7px 14px;*/
}

.navbar-nav>li>a {
  color: white !important;
}

.navbar-nav>.active>a {
  /*text-decoration: underline;
  -moz-text-decoration-color: rgb(230, 133, 40) !important;
  text-decoration-color: rgb(230, 133, 40) !important;*/
  background-color: RGBA(0,0,0,0) !important;
  border-bottom: 3px solid darkorange;
  padding-bottom: 2px; 
}

/* --- How.js circle --- */

#circle {
    position:relative;
    /*border:3px solid blue;*/
    /*height:300px;*/
    /*width:100%;*/
    /*padding:0;*/
    /*margin-top: 70px;*/

    margin: 20% 15%;
    min-height: 130vh;
    border-radius: 50%;
    border: 10px dashed rgb(244,244,244);
    padding: 3%;
}
#circle>div {
    position:absolute;
    border:2px solid;
    margin:0;
    padding:5px;
}
#circle>div:nth-child(1) {
    border-color:green;
    top:5%;
    left:5%;    
}
#circle>div:nth-child(2) {
    border-color:red;
    top:5%;
    right:5%;
}
#circle>div:nth-child(3) {
    border-color:yellow;
    bottom:5%;
    left:5%;
}
#circle>div:nth-child(4) {
    border-color:black;
    bottom:5%;
    right:5%;
}






/*   KAREN CSS   */
.container_circulo {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
  margin-bottom: 100px;
  background-image: url(./assets/circulo.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  max-width: 80%;
}


.container_circulo-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.itemHow {
  padding: 5% 20%;
  /*padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;*/
  /*max-width: 250px;*/
  /*max-height: 350px;*/
}

.descriptionHow {
  height: 150px;
  width: 80%;
  min-width: 200px;
}

.imgHow {
  max-width: 300px;
  /*max-height: 250px;*/
  /*padding: 0px 10%;*/
  padding-right: 20%;
} 

.titleHow {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  text-align: left;
  color: #00A69C ;
  text-transform: uppercase;
}

.maindescriptionHow {
  padding-right: 15px;
  padding-left: 15px;
  max-width:80%;
  text-align: left; 
  margin-bottom: 10%;
}

@media (max-width: 768px) {
	.container_circulo {
		width: 750px;
    background-image: none;
	}
  .imgHow {
    padding-right: 65%;
  }
  .maindescriptionHow {
    margin-bottom:20%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
	.colHow {
    height: 4%;
  }
}

@media (max-width: 768px) {
	h4 {
		padding-bottom: 30px;
	}
}

  h1 {
  font-size: 24px;
}

.btn-down {
    background: url('./assets/down.png');
    border: 0px;
    width: 45px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 39px 43px;
    padding-left: 41px;
    color: #000;
  }