
.Home {
  text-align: center;
}

.thumbnail {
  height: 100%;
  border: 0 none;
  box-shadow: none;
  background-color: RGBA(0,0,0,0);
}

button {
  background: none;
  border: none;
  box-shadow: none;
}

p, h1, h2, h3, h4, h5, h6{
  font-family: "Raleway-regular", sans-serif;
}
h1 {
  font-size: 24px;
}


/* --- NavBar Header --- */

.navbarIndex {
  background-color: RGBA(0,0,0,0);
  position: absolute;
  border-color: transparent;
}

.navbarElse {
  position: static;
  background: url("./assets/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-color: transparent;
}

/* Cambiar lo siguiente por react-bootstrap Image */
.navbar-brand>img {
  height: 120%;
}

.navbar-nav>li>a {
  color: white !important;
  font-family: "Raleway-regular", sans-serif;
  font-size: 14px;
}

.navbar-nav>.active>a, .navbar-nav>.open>a {
  background-color: RGBA(0,0,0,0) !important;
  border-bottom: 1px solid darkorange;
  padding-bottom: 2px;
}

/*   KAREN CSS   */
/*   How   */
.container_circulo {
	padding: 15px 0;
	margin-right: auto;
	margin-left: auto;
  margin-bottom: 100px;
  background-image: url(./assets/circulo.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  max-width: 80%;
}

/*.container_circulo-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}*/

.itemHow {
  padding: 5% 20%;
}

.descriptionHow {
  height: 150px;
  width: 80%;
  min-width: 200px;
}

.imgHow {
  max-width: 300px;
  padding-right: 20%;
}

.titleHow {
  font-family: "Raleway-regular", sans-serif;
  padding: 0 15px;
  /*margin: auto 0;*/
  /*padding-right: 15px;
  padding-left: 15px;*/
  /*margin-right: auto;
  margin-left: auto;*/
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  text-align: left;
  color: #00A69C ;
  text-transform: uppercase;
}

/*.titleitemHow {
  font-family: "Raleway", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  text-align: left;
  color: #871D5F ;
  text-transform: uppercase;
}*/

.maindescriptionHow {
  font-family: "Raleway-regular", sans-serif;
  padding: 0 15px;
  max-width:80%;
  text-align: left;
  margin-bottom: 10%;
}


/*   Home   */
.hometitle {
  font-size: 16px;
  line-height: 30px;
  font-weight: 50;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  max-width: 600px;
}

.white {
  color: white;
}
.dark {
  color:#332530;
}

/*.hometitle1 {
    color:#38988A;
}
.hometitle4 {
    color:#FAAF40;
}*/

.businesstitle {
  font-size: 16px;
  line-height: 4vh;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  max-width: 600px;
  color:#871D5F;
}

.businessdescription {
  font-size: 14px;
  line-height: 3.5vh;
  font-weight: 50;
  font-family: "Raleway-regular", sans-serif;
  margin: 0 auto;
  max-width: 600px;
  color:#231F20;
}

.homebutton {
  font-size: 12px;
  line-height: 30px;
  font-weight: 60;
  font-family: "Raleway-regular", sans-serif;
  margin: 0 auto;
  max-width: 600px;
  color:#FFF;
  border: none;
  letter-spacing: -0.01em;
}

.homebutton1 {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #A51976;
}

.homebutton2 {
  padding-left: 3vw;
  padding-right: 3vw;
  background-color: #00A69C;
}

.homeinput {
  font-size: 12px;
  line-height: 30px;
  font-weight: 60;
  font-family: "Raleway-regular", sans-serif;
  padding-left: 3vw;
  padding-right: 3vw;
  margin: 0 1vw;
  max-width: 600px;
  min-width: 40vw;
  color:#333;
  background-color: #FFF;
  border: none;
  letter-spacing: -0.01em;
}

.descriptionHome {
  font-family: "Raleway-regular", sans-serif;
  text-align: center; 
  color: #FFF;
  margin-bottom: 5%;
  line-height: 5vh;
}


/*   Social media footer buttons   */
.socialmedia{
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  width: 9vw;
  height: 8vh;
  position: relative;
  overflow: hidden;
}

.facebookbutton {
  background-image: url(./assets/facebook.png);
}

.twitterbutton {
  background-image: url(./assets/twitter.png);
}

.linkedinbutton {
  background-image: url(./assets/linkedin.png);
}


/* Dropdown Main Menu */

.dropdown {
    position: relative;
    border: none;
    border-color: transparent;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul.dropdown-menu {
    background-color: transparent;
}

.dropdown-content {
    font-family: "Raleway-regular", sans-serif;
    text-align: center;
    font-size: 12px;
    position: relative;
    display: none;
    background-color: #00A69C;
    color: white;
    min-width: 20vw;
    padding: 1.2vh 4vw;
    margin: 0px;
    z-index: 0;
    letter-spacing: -0.01em;
    border: none !important;
    border-color: transparent;
    outline: 0px;
}

.dropdown-content a {
    padding: 1.5px 2px;
}

.dropdown-content:hover {
    background-color: #FAAF40;
}

.navbar-nav > li > .dropdown-menu a{   color: #FFF; background-color: transparent;  }
.navbar-nav > li > .dropdown-menu a:hover{   color: #FFF; background-color: transparent;   }




/*   Responsive   */
@media (max-width: 768px) {
	.container_circulo {
		width: 750px;
    background-image: none;
	}
  .imgHow {
    padding-right: 65%;
  }
  .maindescriptionHow {
    margin-bottom:20%;
    max-width: 100%;
  }
  h4 {
    padding-bottom: 30px;
  }
  .contactBtn {
    width: 100%;
  }
}
@media (min-width: 768px) {
	.colHow {
    height: 4%;
  }
}
