.Home {
  text-align: center;
  /*background-color: rgb(55, 150, 140);*/
}

.v-center {
    padding: 20% 0%;
    height: 100vh;
    color: white;
    /*font-size:70px;*/
}

.thumbnail {
  height: 100%;
  border: 1px solid black;
  background-color: RGBA(0,0,0,0);
}
/*
.thumbnail>img {
  height: 193px;
}*/



/* --- NavBar Header --- */

.navbar {
  /*background-color: RGBA(0,0,0,0);*/
  background: url("./assets/header.png");
  /*opacity: 0.8;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-color: transparent;
  
  /*This property removes the withe line, 
  yet it need to be changed when using fixed on the home page */
  /*margin-bottom: 0;*/

  /*z-index: 2;*/
  /*position: absolute;*/
  /*padding: 3% 10%;*/
}

/* Cambiar esto por react-bootstrap Image */

.navbar-brand>img {
  height: 120%;
  /*width: max-content;*/
  /*height: max-content;*/
  /*padding: 7px 14px;*/
}

.navbar-nav>li>a {
  color: white !important;
}

.navbar-default .navbar-nav>.active>a {
  text-decoration: underline;
  -moz-text-decoration-color: rgb(230, 133, 40) !important;
  text-decoration-color: rgb(230, 133, 40) !important;
  background-color: RGBA(0,0,0,0) !important;
  /*border-bottom: solid 1px;*/
}



/* --- How.js circle --- */

#circle {
    position:relative;
    /*border:3px solid blue;*/
    /*height:300px;*/
    /*width:100%;*/
    /*padding:0;*/
    /*margin-top: 70px;*/

    margin: 20% 15%;
    min-height: 130vh;
    border-radius: 50%;
    border: 10px dashed rgb(244,244,244);
    padding: 3%;
}
#circle>div {
    position:absolute;
    border:2px solid;
    margin:0;
    padding:5px;
}
#circle>div:nth-child(1) {
    border-color:green;
    top:5%;
    left:5%;    
}
#circle>div:nth-child(2) {
    border-color:red;
    top:5%;
    right:5%;
}
#circle>div:nth-child(3) {
    border-color:yellow;
    bottom:5%;
    left:5%;
}
#circle>div:nth-child(4) {
    border-color:black;
    bottom:5%;
    right:5%;
}
